

<script>
var socket = io.connect('http://localhost:3000');
$(document).ready(function() {
	var counter = 1;
	
	var max_iterations = 100;
	var duration = 3000;
	var interval = setInterval(function() {
		// Emitting to every stack.
		socket.emit('send');
		counter++;
		if (counter > max_iterations)
		{
			clearInterval(interval);
		}
	}, duration);

	socket.on('testing', function(data) {
		$('.current-number').html(data.data);
	});
	console.log($('.ticket').attr('data-ticket'));
});

</script>
<div class="container">
	<div class="engine ticket" >
		<div class="current-number">0</div>
	</div>
	<div class="ticket-row" ng-repeat = "cols in ticket track by $index">
		<div class="ticket-col" ng-repeat = "c in cols track by $index">{{c}}</div>
	</div>
</div>
